@media print
{    
    #header { display: none !important; }
    #github { display: none !important; }
}

#loggedin {
    display: none;
}

#header {
    padding: 4px;
    border-bottom: 1px solid #000;
    background: #eee;
}

#output {
    padding: 4px;
}

body {
  font-family: "Myriad", "Arial", sans-serif;
}

.metadata {
  font-size: 0.8em;
}

.card-labels { }

.gray { color: #808080; }
.red { color: #a30000; }
.yellow { color: #f0ab00; }
.green { color: #006621; }
.orange { display: off; }
.purple { display: off; }

.trello-card { 
  margin-top: 1em; 
  margin-left: 3%; 
  margin-right: 3%; 
}

.card-name { }

.card-event-date { }
/*
.card-event-date::after {
  content: " – ";
}
*/

.card-members { }

/*
.card-members::before {
  content: " • ";
}
*/

.card-due { }

.card-description {
  color: #4c4c4c;
  font-size: 0.8em;
}
.card-description p {
  margin-top: 0;
  margin-bottom: 0;
}
